<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head th:replace="fragments/header :: header">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<!-- liens retirés et mis dans header.html -->

</head>

<body id="page-top">


	<!-- Page Wrapper -->
	<div id="wrapper">
		<!-- Partie sidebar retirée et mise dans sidebar.html -->

		<div th:replace="fragments/sidebar :: sidebar"></div>


		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">

				<!-- top-navbar retirée et mise dans top-navbar.html -->
				<div th:replace="fragments/top-navbar :: top-navbar"></div>


				<!-- Begin Page Content -->
				<div class="container-fluid">

					<!-- Page Heading -->
					<h1 class="h3 mb-2 text-gray-800">Mon espace administrateur</h1>
					<!-- 					<p class="mb-4"> -->
					<!-- 						Paragraphe description de cette page? <a target="_blank" -->
					<!-- 							href="https://datatables.net">official DataTables -->
					<!-- 							documentation</a>. -->
					<!-- 					</p> -->


					<!-- mes evenemts -->


					<div class="card shadow mb-4">
						<div
							class="card-header py-3 d-sm-flex align-items-center justify-content-between mb-4">
							<h6 class="m-0 font-weight-bold text-primary">Tableau des
								évènements existants</h6>

						</div>


						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-bordered" id="" width="100%"
									cellspacing="0">
									<thead>
										<tr>
											<th>Id</th>
											<th>Nom</th>
											<th>Type</th>
											<th>Date début</th>
											<th>Date fin</th>
											<th>Nb. participants</th>
											<th>Nb. Inscrit(s)</th>
											<th>Lieu</th>
										</tr>
									</thead>
									<tfoot>
										<tr>
											<th>Id</th>
											<th>Nom</th>
											<th>Type</th>
											<th>Date début</th>
											<th>Date fin</th>
											<th>Nb. participants</th>
											<th>Nb. Inscrit(s)</th>
											<th>Lieu</th>
										</tr>
									</tfoot>
									<tbody>
										<tr th:each="event:${eventList}">
											<td th:text="${event.id}">ID</td>
											<td th:text="${event.name}">NAME</td>
											<td th:text="${event.eventType}">TYPE</td>
											<td
												th:text="${#dates.format(event.duration.startDate, 'dd-MMM-yyyy')}">DEBUT</td>
											<td
												th:text="${#dates.format(event.duration.endDate, 'dd-MMM-yyyy')}">FIN</td>
											<td class="text-center" th:text="${event.nbOfParticipant}">NOMBRE</td>
											<td th:text="${event.nbInscrit}">STATUT</td>

											<td th:text="${event.place.city}">VILLE</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>


					<div class="card shadow mb-4" id="encrePrestataire">
						<div
							class="card-header py-3 d-sm-flex align-items-center justify-content-between mb-4">
							<h6 class="m-0 font-weight-bold text-primary">Tableau des
								prestations disponibles</h6>

						</div>
						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-bordered" id="" width="100%"
									cellspacing="0">
									<thead>
										<tr>
											<th>Nom</th>
											<th>Type</th>
											<th>Capacité</th>
											<th>Zone intervention</th>
<!-- 											<th>Action</th> -->
										</tr>
									</thead>
									<tfoot>
										<tr>
											<th>Nom</th>
											<th>Type</th>
											<th>Capacité</th>
											<th>Zone intervention</th>
<!-- 											<th>Action</th> -->
										</tr>
									</tfoot>
									<tbody>
										<tr class="justify-content-center"
											th:each="prestation:${prestaList}">
											<td class="align-middle" th:text="${prestation.name}">NAME</td>
											<td class="align-middle"
												th:text="${prestation.prestaType.prestaType}">TYPE</td>
											<td class="align-middle" th:text="${prestation.capacity}">CAPACITE</td>
											<td class="align-middle" th:text="${prestation.place.city}">VILLE</td>
<!-- 											<td><button class="btn btn-secondary">Valider</button></td> -->
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>

					<div class="card shadow mb-4">
						<div
							class="card-header py-3 d-sm-flex align-items-center justify-content-between mb-4">
							<h6 class="m-0 font-weight-bold text-primary" id="encreCompte">Tableau
								des comptes utilisateurs</h6>
							<a href="#"
								class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
								class="fas fa-plus-circle text-white-50"></i> Ajouter un
								utilisateur</a>
						</div>
						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-bordered" id="" width="100%"
									cellspacing="0">
									<thead>
										<tr>
											<th>Nom</th>
											<th>Prenom</th>
											<th>Email</th>
											<th>Ville</th>
											<th>Role</th>
											<th>Modifier le rôle</th>
											<th>Activation</th>
											<th>Etat</th>
											<th>Action</th>
										</tr>
									</thead>
									<tfoot>
										<tr>
											<th>Nom</th>
											<th>Prenom</th>
											<th>Email</th>
											<th>Ville</th>
											<th>Role</th>
											<th>Modifier le rôle</th>
											<th>Activation</th>
											<th>Etat</th>
											<th>Action</th>
										</tr>
									</tfoot>
									<tbody>

										<tr class="justify-content-center" th:each="user:${userList}">
											<td class="align-middle" th:text="${user.lastname}">LASTNAME</td>
											<td class="align-middle" th:text="${user.firstname}">FIRSTNAME</td>
											<td class="align-middle" th:text="${user.email}">EMAIL</td>
											<td class="align-middle" th:text="${user.place.city}">VILLE</td>

											<td class="align-middle" th:text="${user.roles[0].role}">ROLE</td>
											<td class="align-middle">
												<form method="post" th:action="@{/admin/updateRole}">
													<select name="newRole" class="form-control">

														<option th:field="*{roleList}" th:each="role:${roleList}"
															th:value="${role.role}" th:text="${role.role}"></option>


													</select> <br /> <input type="hidden" name="id"
														th:value="${user.id}" th:attr="name='id'" /> <input
														class="btn btn-primary" type="submit" value="Update role" />
												</form>
											</td>


											<td class="align-middle"><a
												th:href="@{/admin/enable/{id}/{email} (id=${user.id}, email=${user.email})}">
													ACTIVER </a> </br>
											</br> <a
												th:href="@{/admin/disable/{id}/{email} (id=${user.id}, email=${user.email})}">DESACTIVER
											</a></td>
											<td class="align-middle" th:text="${user.active}">ETAT</td>

											<td>
												<form action="#"
													th:action="@{'/admin/delete/{id}'(id=${user.id})}"
													th:method="delete">
													<button type="submit" class="btn btn-secondary">Supprimer</button>
												</form>
											</td>
										</tr>

									</tbody>
								</table>
							</div>
						</div>

					</div>

				</div>
				<!-- /.container-fluid -->

			</div>
			<!-- End of Main Content -->

			<!-- Footer retiré et mis dans footer.html -->
			<div th:replace="fragments/footer :: footer"></div>

		</div>
		<!-- End of Content Wrapper -->

	</div>
	<!-- End of Page Wrapper -->

	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top"> <i
		class="fas fa-angle-up"></i>
	</a>




</body>

</html>
