<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head th:replace="fragments/header :: header">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">



</head>

<body id="page-top">


	<!-- Page Wrapper -->
	<div id="wrapper">

		<!-- Sidebar -->
		<div th:replace="fragments/sidebar :: sidebar"></div>
		<!-- End of Sidebar -->

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">

				<!-- Topbar -->
				<div th:replace="fragments/top-navbar :: top-navbar"></div>
				<!-- End of Topbar -->

				<!-- Begin Page Content -->
				<div class="container-fluid">

					<!-- Page Heading -->
					<h1 class="h3 mb-2 text-gray-800">Tableau de mes évènements</h1>

					<!-- mes evenemts -->




					<div class="card shadow mb-4">
						<div class="card-header py-3">
							<h6 class="m-0 font-weight-bold text-primary">Évènements
								auxquels je me suis inscrit</h6>
						</div>
						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-bordered" id="" width="100%"
									cellspacing="0">
									<thead>
										<tr>
											<th>Nom</th>
											<th>Type</th>
											<th>Date début</th>
											<th>Date fin</th>
											<th>Lieu</th>
										</tr>
									</thead>
									<tfoot>
										<tr>
											<th>Nom</th>
											<th>Type</th>
											<th>Date début</th>
											<th>Date fin</th>
											<th>Lieu</th>
										</tr>
									</tfoot>
									<tbody>
										<tr th:each="event:${eventListParticipant}">
											<td th:text="${event.name}">NAME</td>
											<td th:text="${event.eventType}">TYPE</td>
											<td
												th:text="${#dates.format(event.duration.startDate, 'dd-MMM-yyyy')}">DEBUT</td>
											<td
												th:text="${#dates.format(event.duration.endDate, 'dd-MMM-yyyy')}">FIN</td>
											<td th:text="${event.place.city}">VILLE</td>
										</tr>

									</tbody>
								</table>
							</div>
						</div>
					</div>


					<div class="card shadow mb-4">
						<div class="card-header py-3">
							<h6 class="m-0 font-weight-bold text-primary">Évènements
								ouverts à l'inscription</h6>
						</div>
						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-bordered" id="" width="100%"
									cellspacing="0">
									<thead>
										<tr>
											<th>Nom</th>
											<th>Type</th>
											<th>Date début</th>
											<th>Date fin</th>
											<th>Lieu</th>
											<th>Inscription</th>
										</tr>
									</thead>
									<tfoot>
										<tr>
											<th>Nom</th>
											<th>Type</th>
											<th>Date début</th>
											<th>Date fin</th>
											<th>Lieu</th>
											<th>Inscription</th>
										</tr>
									</tfoot>
									<tbody>
										<tr class="justify-content-center"
											th:each="event:${eventList}">
											<td class="align-middle" th:text="${event.name}">NAME</td>
											<td class="align-middle" th:text="${event.eventType}">TYPE</td>
											<td class="align-middle"
												th:text="${#dates.format(event.duration.startDate, 'dd-MMM-yyyy')}">DEBUT</td>
											<td class="align-middle"
												th:text="${#dates.format(event.duration.endDate, 'dd-MMM-yyyy')}">FIN</td>
											<td class="align-middle" th:text="${event.place.city}">VILLE</td>
											<td class="align-middle text-center">
												<form th:method="post"
													th:action="@{'/participant/register/{id}'(id=${event.id})}">
													<button type="submit" class="btn btn-secondary">Je
														participe</button>
												</form>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>

				</div>
				<!-- /.container-fluid -->

			</div>
			<!-- End of Main Content -->

			<!-- Footer -->
			<div th:replace="fragments/footer :: footer"></div>
			<!-- End of Footer -->

		</div>
		<!-- End of Content Wrapper -->

	</div>
	<!-- End of Page Wrapper -->

	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top"> <i
		class="fas fa-angle-up"></i>
	</a>

	<!-- Logout Modal-->
	<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Déconnexion</h5>
					<button class="close" type="button" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">Selectionner "Se déconnecter" si vous souhaitez mettre fin à votre session.</div>
				<div class="modal-footer">
					<button class="btn btn-secondary" type="button"
						data-dismiss="modal">Annuler</button>
					<a class="btn btn-primary" href="/logout">Se déconnecter</a>
				</div>
			</div>
		</div>
	</div>


</body>

</html>
