<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head th:replace="fragments/header :: header">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
</head>


<body id="page-top">

	<!-- Page Wrapper -->
	<div id="wrapper">

		<div th:replace="fragments/sidebar :: sidebar"></div>


		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">

				<!-- Topbar -->
				<!-- top-navbar retirée et mise dans top-navbar.html -->
				<div th:replace="fragments/top-navbar :: top-navbar"></div>

				<!-- End of Topbar -->

				<!-- Begin Page Content -->

				<div class="container-fluid">

					<!-- Page Heading -->
					<h1 class="h3 mb-2 text-gray-800">Mon espace prestataire</h1>


					<!-- mes evenemts -->


					<div class="card shadow mb-4">

						<div class="card-body">
						<h6 class="m-0 font-weight-bold text-primary mb-4">Tableau des évènements pour lesquels j'ai une prestation en cours</h6>
							<div class="table-responsive">
								<table class="table table-bordered" id="" width="100%"
									cellspacing="0">
									<thead>
										<tr>
											<th>Nom</th>
<!-- 											<th>Type</th> -->
											<th>Date</th>
											<th>Participants attendus</th>
											<th>Participants inscrits</th>
										</tr>
									</thead>
									<tfoot>
										<tr>
											<th>Nom</th>
<!-- 											<th>Type</th> -->
											<th>Date</th>
											<th>Participants attendus</th>
											<th>Participants inscrits</th>
										</tr>
									</tfoot>
									<tbody>
										<tr th:each="event:${eventList}">
											<td th:text="${event.name}">NAME</td>
<!-- 											<td th:text="${event.eventType}">TYPE</td> -->
											<td
												th:text="${#dates.format(event.duration.startDate, 'dd-MMM-yyyy')}">DEBUT</td>
											<td class="text-center" th:text="${event.nbOfParticipant}">NOMBRE
												ATTENDU</td>
											<td class="text-center" th:text="${event.nbInscrit}">NOMBRE
												INSCRIT</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>

					<!-- fin mes evenements -->



					<!--   <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Mon Espace Prestataire</h1>
                        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                                class="fas fa-plus fa-sm text-white-50"></i> Ajouter une demande</a>
                    </div> -->

					<!-- début mes demandes -->

					<div class="card shadow mb-4">
						<div class="card-header py-3">
							<h6 class="m-0 font-weight-bold text-primary">Tableau des
								demandes pour mes prestations</h6>
						</div>
						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-bordered" id="dataTable" width="100%"
									cellspacing="0">
									<thead>
										<tr>
											<th>Nom</th>
											<th>Type de prestation</th>
											<th>Capacité</th>
											<th>Zone d'intervention</th>
											<th>A venir</th>
											<th>Passée</th>
											<th>A valider</th>
										</tr>
									</thead>
									<tfoot>
										<tr>
											<th>Nom</th>
											<th>Type de prestation</th>
											<th>Capacité</th>
											<th>Zone d'intervention</th>
											<th>A venir</th>
											<th>Passée</th>
											<th>A valider</th>
										</tr>
									</tfoot>
									<tbody>
									<tr>
										<p>Vous n'avez aucune demande pour le moment</p>
									</tr>
									
<!-- 										<tr> -->
<!-- 											<td>Tiger Nixon</td> -->
<!-- 											<td>Traiteur</td> -->
<!-- 											<td>61 personne(s)</td> -->
<!-- 											<td>Paris</td> -->
<!-- 											<td>04/25/2011</td> -->
<!-- 											<td>€320,800</td> -->
<!-- 											<td>€320,800</td> -->
<!-- 										</tr> -->
			

									</tbody>
								</table>
							</div>
						</div>
					</div>

					<!-- Page Heading -->
					<div
						class="d-sm-flex align-items-center justify-content-between mb-4">
						<h1 class="h3 mb-0 text-gray-800"></h1>
					
					</div>

					<!-- fin mes démandes -->

					<!-- début mes prestations -->

					<div class="card shadow mb-4">
						<div
							class="card-header py-3 d-sm-flex align-items-center justify-content-between mb-4">
							<h6 class="m-0 font-weight-bold text-primary">Prestations de mon catalogue</h6>
								
								<a href="/prestataire/add_prestation"
								class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
								class="fas fa-plus-circle text-white-50"></i> Créer une prestation</a>
								
						</div>
						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-bordered" id="dataTable" width="100%"
									cellspacing="0">
									<thead>
										<tr>
											<th>Nom</th>
											<th>Descriptif</th>
											<th>Prix par personne (€)</th>
											<th>Zone d'intervention</th>
											<th>Détails</th>
											<th>Modifier</th>
											<th>Supprimer</th>

										</tr>
									</thead>
									<tfoot>
										<tr>
											<th>Nom</th>
											<th>Descriptif</th>
											<th>Prix par personne (€)</th>
											<th>Zone d'intervention</th>
											<th>Détails</th>
											<th>Modifier</th>
											<th>Supprimer</th>
										</tr>
									</tfoot>
									<tbody>
										<tr class="justify-content-center"
											th:each="prestation:${prestaList}">
											<td class="align-middle" th:text="${prestation.name}">NOM</td>
											<td class="align-middle" th:text="${prestation.description}">DESCRIPTION</td>
											<td class="align-middle" th:text="${prestation.cost}">PRIX</td>
											<td class="align-middle" th:text="${prestation.place.city}">VILLE</td>
											<td>
											<a th:href="@{/prestataire/show/{id}(id=${prestation.id})}" class=".Warning link"><i class="fas fa-user-show ml-2"></i>Détails</a></td>
											
											<td class="align-middle" >
											<a th:href="@{/prestataire/update_prestation/{id}(id=${prestation.id})}"
												class="btn btn-warning"><i class="fas fa-user-edit ml-2"></i></a>
											</td>
											<td class="align-middle">
												<form action="#" th:action="@{'/prestataire/delete'}"
													th:method="post">
													<input type="hidden" name="id_presta"
														th:value="${prestation.id}" />
													<button class="btn btn-danger" type="submit"><i class="fas fa-user-times ml-2"></i></button>
												</form>
											</td>
											
									</tbody>
								</table>
							</div>
						</div>
					</div>




					<!-- /.fin mes prestations-->


					<script src="../../js/popper.js"></script>
					<script src="../../js/bootstrap.min.js"></script>
					<script src="../../js/main.js"></script>


				</div>
			</div>

		</div>
		<!-- /.container-fluid -->

	</div>

	<!-- End of Main Content -->

	<!-- Footer -->
	<div th:replace="fragments/footer :: footer"></div>

	<!-- End of Footer -->

	</div>
	<!-- End of Content Wrapper -->

	</div>
	<!-- End of Page Wrapper -->

	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top"> <i
		class="fas fa-angle-up"></i>
	</a>

	



</body>

</html>
