<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">


<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
	crossorigin="anonymous">


<!-- personnalisation vu details -->
<link rel="stylesheet" href="./css/style.css">

</head>


<body id="page-top">
	<div id="wrapper">

		<div th:replace="fragments/sidebar :: sidebar"></div>


		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">

				<!-- Topbar -->
				<!-- top-navbar retirée et mise dans top-navbar.html -->
				<div th:replace="fragments/top-navbar :: top-navbar"></div>

				<div class="container my-5">
					<h1 align="center">Prestation</h1>
					<div class="card mt-4">
						<div class="card-body mt-4">
							<div class="">
								
									<div class="row">
										<div class="form-group col-md-2">
											<label for="label" class="col-form-label"><h3><b>ID</b></h3></label>
											<h4 th:text="${prestation.id}">Id</h4>
											<br>
											<label for="label" class="col-form-label"><h3><b>COUT</b></h3></label>
											<h4 th:text="${prestation.cost}">Coût</h4>
										</div>

										<div class="form-group col-md-5">
											<label for="label" class="col-form-label"><h3><b>CAPACITE</b></h3></label>
											<h4 th:text="${prestation.capacity}">Capacité</h4>
											<br>
											<label for="label" class="col-form-label"><h3><b>DESCRIPTION</b></h3></label>
											<h4 th:text="${prestation.description}">Description</h4>
										</div>



										<div class="form-group col-md-5">
											 <img class="img-detail img-fluid" alt="Image"
												th:src="@{'/upload/'+ ${prestation.picture.pathToPic}}" />
											
										</div>

									</div>
									<div class="row">
										<div class="form-group col-md-8" >
											<a th:href="@{/prestation/list}"> <input type="button"
												class="btn btn-primary" value="retour"></a>

										</div></div>
								
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>