<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head th:replace="fragments/header :: header">

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<link rel="stylesheet" href="../../static/css/style.css">
</head>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</head>

<body id="page-top">

	<!-- Page Wrapper -->
	<div id="wrapper">

		<!-- Sidebar -->
		<div th:replace="fragments/sidebar :: sidebar"></div>

		<!-- End of Sidebar -->

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">

				<!-- Topbar -->
				<!-- top-navbar retirée et mise dans top-navbar.html -->
				<div th:replace="fragments/top-navbar :: top-navbar"></div>

				<!-- End of Topbar -->

				<!-- Begin Page Content -->
				<div class="container-fluid">

					<!-- Page Heading -->
					<div
						class="d-sm-flex align-items-center justify-content-between mb-4">
						<h1 class="h3 mb-0 text-gray-800">Mon espace prestataire</h1>

					</div>

					<!-- Content Row -->

					<!-- Content Row -->

					<div class="card shadow mb-4">
						<div class="card-header py-3">
							<h6 class="m-0 font-weight-bold text-primary">Modifier une
								prestation</h6>
						</div>
						<div class="card-body">

							<form method="post" th:action="@{/prestataire/update_prestation}"
								th:object="${prestation}">
								<input type="hidden" th:field="*{id}" />

								<div class="form-row">
									<div class="form-group col-md-8">
										<div class="row">
											<div class="col">
												<label for="prestation">Titre prestation</label> <input
													type="text" class="form-control"
													placeholder="Exemple : Restauration haut de gamme" id="titlePrestation"
													th:field="${prestation.name}" />
												<!-- <span
													th:if="${#fields.hasErrors('prestation.name')}" th:errors="*{prestation.name}"
													class="text-danger"></span> -->
											</div>
											<div class="col">

												<label for="inputNumber">Capacité de la prestation</label> <input
													type="number" class="form-control" id="inputNumber"
													placeholder="Nombre de personnes"
													th:field="${prestation.capacity}">
												<!-- <span
													th:if="${#fields.hasErrors('prestation.capacity')}" th:errors="*{prestation.capacity}"
													class="text-danger"></span> -->

											</div>

										</div>


										<!-- <div class="form-group col-md-12 mt-2"
											th:object="${prestaType}"> -->

										<div class="row mt-2">
											<div class="col">
												<label for="inputPresta">Type de prestation</label>
												<!-- ajout th field ne marche pas dans le select : faut-il utiliser une liste? -->

												<select name="newType" class=form-control>

													<option th:each="prestaType:${prestaTypeList}"
														th:value="${prestaType.prestaType}"
														th:text="${prestaType.prestaType}"></option>

												</select> <br />



											</div>
										</div>






										<div class="row">
											<div class="form-group col-md-6">
												<label for="inputPrice">Prix total de la prestation
													(en euros)</label> <input type="text" class="form-control"
													id="inputPrice" placeholder=" €"
													th:field="${prestation.cost}">
												<!-- <span
													th:if="${#fields.hasErrors('cost')}" th:errors="*{cost}"
													class="text-danger"></span> -->
											</div>
										</div>

									</div>

									<div class="form-group col-md-4">
										<img src="../../img/insertpic.png"
											class="rounded mx-auto d-block" alt="...">
										<div class="custom-file col-md-6" style="max-width: 100%">
											<input type="file" class="custom-file-input" id="customFile">
											<label class="custom-file-label" for="customFile">Choisissez
												une image</label>
										</div>
									</div>
								</div>




								<!-- 	<div class="form-group " th:object="${place}"> -->
								<div class="form-group ">
									<div class="row">
										<div class="col-md-6">
											<label for="adress">Adresse </label> <input
												class="form-control" type="text" id="adress"
												placeholder="Adresse"
												th:field="${prestation.place.streetNbAndName}">
											<!-- <span
													th:if="${#fields.hasErrors('place.streetNbAndName')}" th:errors="*{place.streetNbAndName}"
													class="text-danger"></span> -->
										</div>


										<div class="col col-md-2">
											<label for="zipCode">Code postal</label> <input
												class="form-control" type="text" id="zip"
												placeholder="Code Postal"
												th:field="${prestation.place.zipCode}">
											<!-- <span
													th:if="${#fields.hasErrors('place.zipCode')}" th:errors="*{place.zipCode}"
													class="text-danger"></span> -->
										</div>



										<div class="col col-md-4">
											<label for="city">Ville </label> <input class="form-control"
												type="text" id="city" placeholder="Ville"
												th:field="${prestation.place.city}">
											<!--  <span
													th:if="${#fields.hasErrors('place.city')}" th:errors="*{place.city}"
													class="text-danger"></span> -->
										</div>

									</div>

								</div>


								<div class="form-group">
									<!--  ajouter le jquery : où est il? -->
									<!-- <div class="row mt-2">
										<div class="col">
											<label for="startingDate">Disponibilité à partir de </label>
											<div class="input-group">
												<input id="startingDate" type="text" class="form-control"
													placeholder="Date de début" >
												<div class="input-group-append">
													<span class="input-group-text"><i
														class="bi bi-calendar-date"></i></span>
												</div>
											</div>
										</div>
										<div class="col">
											<label for="endingDate">jusqu'à</label>
											<div class="input-group">
												<input id="endingDate" type="text" class="form-control"
													placeholder="Date de fin">
												<div class="input-group-append">
													<span class="input-group-text"><i
														class="bi bi-calendar-date"></i></span>
												</div>
											</div>
										</div>

									</div> -->

									<div class="row mt-2">
										<label for="inputPrice">Description</label>
										<textarea class="form-control" id="descriptionPresta" rows="3"
											th:field="${prestation.description}"
											placeholder="Petite description de votre prestation"></textarea>

									</div>
								</div>


								<!-- Page Heading -->
								<div
									class="d-sm-flex align-items-center justify-content-between mb-4">

									<button class="btn btn-secondary" type="submit"
										value="Update Prestation">
										<i class="far fa-save fa-sm text-white-50"></i> Modifier la
										prestation
									</button>



								</div>

							</form>
						</div>
					</div>

					<!-- Content Row -->

				</div>
				<!-- /.container-fluid -->

			</div>
			<!-- End of Main Content -->

			<!-- Footer -->
			<div th:replace="fragments/footer :: footer"></div>

			<!-- End of Footer -->

		</div>
		<!-- End of Content Wrapper -->

	</div>
	<!-- End of Page Wrapper -->

	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top"> <i
		class="fas fa-angle-up"></i>
	</a>

	<!-- Logout Modal-->
	<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
					<button class="close" type="button" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">Select "Logout" below if you are ready
					to end your current session.</div>
				<div class="modal-footer">
					<button class="btn btn-secondary" type="button"
						data-dismiss="modal">Cancel</button>
					<a class="btn btn-primary" href="login.html">Logout</a>
				</div>
			</div>
		</div>
	</div>

	<!-- Bootstrap core JavaScript-->



	<!-- Page level plugins -->
	<script src="../../vendor/chart.js/Chart.min.js"></script>

	<!-- Page level custom scripts -->
	<script src="../../js/demo/chart-area-demo.js"></script>
	<script src="../../js/demo/chart-pie-demo.js"></script>

	<script>
		$(document).ready(function() {
			$('#magic').click(function() {
				$("#titlePrestation").val("traiteur");
				$("#inputNumber").val(150);
				$("#inputPrice").val(5000);
				$("#descriptionPresta").val("beef");
				$("#adress").val("12 rue de Charenton");
				$("#city").val("Valence");
				$("#zip").val("26000");

			});
		});
	</script>

	<script type="text/javascript">

	$(function () {
        $("#other-type-presta-check").click(function () {
            if ($(this).is(":checked")) {
                $("#otherPrestaType").show();
                $("#inputPrestaType").hide();
            } else {
                $("#otherPrestaType").hide();
                $("#inputPrestaType").show();
            }
        });
    });




	</script>

</body>

</html>
