<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>Dashboard</title>
</head>
<body>
	<!-- Sidebar page Admin -->


	<div th:fragment="sidebar" style="background-image:linear-gradient(rgba(224, 168,0, 0.9), rgba(220, 151, 52, 0.9))">
	
		<!-- Sidebar -->
		<ul 
			class="navbar-nav sidebar sidebar-dark accordion"
			id="accordionSidebar">

			<!-- Sidebar - Brand -->
			<a class="sidebar-brand d-flex align-items-center justify-content-center"
				href="index.html">

				<div class="sidebar-brand-text mx-3">Bonjour</div>
			</a>

			<!-- Divider -->
			<hr class="sidebar-divider my-0">

			<!-- Nav Item - Dashboard -->
			<li class="nav-item active">
			<div th:if="${role} == 'Organisateur'"> 
			<a class="nav-link"
				href="/organisateur/dashboard"> <i class="fas fa-fw fa-tachometer-alt"></i> <span>Dashboard</span></a>
				</div>
			</li>
			
				<li class="nav-item active">
			<div th:if="${role} == 'Prestataire'"> 
			<a class="nav-link"
				href="/prestataire/list"> <i class="fas fa-fw fa-tachometer-alt"></i> <span>Dashboard</span></a>
				</div>
			</li>
			
			<li class="nav-item active">
			<div th:if="${role} == 'Participant'"> 
			<a class="nav-link"
				href="/participant/list"> <i class="fas fa-fw fa-tachometer-alt"></i> <span>Dashboard</span></a>
				</div>
			</li>
			
			

			<!-- Divider -->
			<hr class="sidebar-divider">

			<!-- Heading -->
			<div class="sidebar-heading">Organisation évènements</div>

			<!-- Nav Item - Pages Collapse Menu -->
			<li class="nav-item"><a class="nav-link collapsed" href="#"
				data-toggle="collapse" data-target="#collapseTwo"
				aria-expanded="true" aria-controls="collapseTwo"> <i
					class="fas fa-calendar-alt"></i> <span>Évènements</span>
			</a>
				<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
					data-parent="#accordionSidebar">

					<div class="bg-white py-2 collapse-inner rounded" >
						<div th:if="${role} == 'Organisateur'"> <a class="collapse-item" th:href="cards.html">En cours</a> <a
							class="collapse-item" th:href="buttons.html">A venir</a> <a
							class="collapse-item" th:href="cards.html">Passé</a> </div>
						<div th:if="${role} == 'Admin'"> <a class="collapse-item" href="cards.html">En cours</a> <a
							class="collapse-item" href="buttons.html">A venir</a> <a
							class="collapse-item" href="cards.html">Passé</a> </div>
						<div th:if="${role} == 'Prestataire'"> <a class="collapse-item" href="cards.html">En cours</a> <a
							class="collapse-item" href="buttons.html">A venir</a> <a
							class="collapse-item" href="cards.html">Passé</a> </div>
							<div th:if="${role} == 'Participant'"> <a class="collapse-item" href="cards.html">En cours</a> <a
							class="collapse-item" href="buttons.html">A venir</a> <a
							class="collapse-item" href="cards.html">Passé</a> </div>
					</div>
				</div></li>

			<!-- Divider -->
			<hr class="sidebar-divider">

			<!-- Heading -->
			<div class="sidebar-heading" >Autres</div>
<div th:if="${role} == 'Admin'">
			<li class="nav-item">
				 
			<a class="nav-link"
			
				href="#encrePrestataire"> <i class="fas fa-id-badge"></i> <span>Gestion
						des prestataires</span></a>
						</li>

			<li class="nav-item"><a class="nav-link" href="#encreCompte">
					<i class="fas fa-users-cog"></i> <span>Gestion des comptes</span>
			</a></li>
	</div>
			<!-- Nav Item - Charts -->
			<li class="nav-item"><a class="nav-link" href="charts.html">
					<i class="far fa-user"></i> <span>Mon profil</span>
			</a></li>
			
			



			<!-- Divider -->
			<hr class="sidebar-divider d-none d-md-block">

			<!-- Sidebar Toggler (Sidebar) -->
			<div class="text-center d-none d-md-inline">
				<button class="rounded-circle border-0" id="sidebarToggle"></button>
			</div>


		</ul>
		<!-- End of Sidebar -->
	</div>
	<div th:fragment="sidebar-prestataire">
	<!-- Sidebar Page Prestataire -->
	<ul
		class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
		id="accordionSidebar">

		<!-- Sidebar - Brand -->
		<a
			class="sidebar-brand d-flex align-items-center justify-content-center"
			href="index.html">

			<div class="sidebar-brand-text mx-3">Organisateur</div>
		</a>

		<!-- Divider -->
		<hr class="sidebar-divider my-0">

		<!-- Nav Item - Dashboard -->
		<li class="nav-item active"><a class="nav-link"
			href="organisateur.html"> <i class="fas fa-fw fa-tachometer-alt"></i>
				<span>Dashboard</span></a></li>

		<!-- Divider -->
		<hr class="sidebar-divider">

		<!-- Heading -->
		<div class="sidebar-heading">Organisation évènements</div>

		<!-- Nav Item - Pages Collapse Menu -->
		<li class="nav-item"><a class="nav-link collapsed" href="#"
			data-toggle="collapse" data-target="#collapseTwo"
			aria-expanded="true" aria-controls="collapseTwo"> <i
				class="fas fa-calendar-alt"></i> <span>Mes Evènements</span>
		</a>
			<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
				data-parent="#accordionSidebar">
				<div class="bg-white py-2 collapse-inner rounded">

					<a class="collapse-item" href="organisateur.html">En cours</a> <a
						class="collapse-item" href="organisateur.html">A venir</a> <a
						class="collapse-item" href="organisateur.html">Passé</a>
				</div>
			</div></li>

		<!-- Nav Item - Utilities Collapse Menu -->
		<li class="nav-item"><a class="nav-link collapsed"
			href="prestataire.html"> <i class="far fa-handshake"></i> <span>Prestataires</span>
		</a></li>
		<li class="nav-item"><a class="nav-link collapsed"
			href="add_prestation"> <i class="far fa-plus"></i> <span>Ajouter
					un Prestataires</span>
		</a></li>
		<!-- Divider -->
		<hr class="sidebar-divider">

		<!-- Heading -->
		<div class="sidebar-heading">Autres</div>

		<!-- Nav Item - Pages Collapse Menu -->
		<li class="nav-item"><a class="nav-link collapsed" href="#">
				<i class="fas fa-clipboard-list"></i> <span>Todo list</span>
		</a></li>

		<!-- Nav Item - Charts -->
		<li class="nav-item"><a class="nav-link" href="profil.html">
				<i class="far fa-user"></i> <span>Mon profil</span>
		</a></li>



		<!-- Divider -->
		<hr class="sidebar-divider d-none d-md-block">

		<!-- Sidebar Toggler (Sidebar) -->
		<div class="text-center d-none d-md-inline">
			<button class="rounded-circle border-0" id="sidebarToggle"></button>
		</div>


	</ul>
	<!-- End of Sidebar -->


	</div>

</body>
</html>