@media (max-width: 600px) {
    .card {
      size: 100%;
    }
  }

  #nav1
{  
    opacity: 0.95;       
}

#img-fond{     
    background: url('../img/fond-login.jpg') no-repeat fixed;
    background-size: 100% 100%;    
}

.card{
    background: white;
    text-align: center;
    margin-top: 50px;
}

#button-knowMore:hover{
   color:white; 
}

.navbar-brand{
    margin-left: auto;
    margin-right: auto;
}

#slider i {
    position: absolute;
    font-size:40px
}
#slider i.fa-arrow-left {
    top: 50%;
    left: -6%;
}
#slider i.fa-arrow-right {
    top:50%;
    right: -6%;
}




