<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Home - Events</title>
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/css/bootstrap.min.css" />
	

</head>
<body>
	<div class="container text-center">
		<div>
			<form th:action="@{/logout}" method="post">
				<p>
					Bienvenue <b>[[${#request.userPrincipal.principal.fullName}]]</b>
				</p>
				<input type="submit" value="se déconnecter">
			</form>
		</div>
	
		<div>
			<h1>Liste des utilisateurs</h1>
		</div>
		<div>
			<table class="table table-striped table-bordered">
				<thead class="thead-dark">
					<tr>
						<th>id</th>
						<th>Email</th>
						<th>Prénom</th>
						<th>Nom</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="user: ${listUsers}">
						<td th:text="${user.id}">ID</td>
						<td th:text="${user.email}">Email</td>
						<td th:text="${user.firstname}">User firstname</td>
						<td th:text="${user.lastname}">User lastname</td>	
					</tr>
				</tbody>
			</table>
		</div>

	</div>

</body>
</html>