<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Home - Events</title>
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/css/bootstrap.min.css" />
	

</head>
<body>
	<div class="container text-center">
		<div>
			<h1>Place Event</h1>
		</div>
		<div>
			<h3>
				<a th:href="@{/list_users}">List User</a>
				<a th:href="@{/register}">S'enregistrer</a>
				<a th:href="@{/login}">Se Connecter</a>
				
			</h3>
		</div>

	</div>

</body>
</html>