<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Inscription - Events</title>
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/css/bootstrap.min.css" />
	

</head>
<body>
	<div class="container text-center">
		<div>
			<h3>Succès - Sign up</h3>
			<h4><a th:href="@{/login}">Cliquez ici pour vous connecter</a></h4>
		</div>
	

	</div>

</body>
</html>