<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Liste des roles utilisateurs</title>
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/css/bootstrap.min.css" />
</head>


<body>
	<div class="container my-2">
		<div class="card">
			<div class="card-body">
				<div th:switch="${roleList}" class="container my-5">
					<p class="my-5">
						<a th:href="@{'/role/add/'}" class="btn btn-primary">
						<i class="fas fa-user-plus ml-2"> Add Role</i></a>
					</p>
					<div class="col-md-10">
						<h2 th:case="null">No Role yet!</h2>
						<div th:case="*">
						
						<h2>Nombre de rôles : <span th:text="${nombreRoles}">10</span></h2>
							<table class="table table-striped table-responsive-md">
								<thead>
									<tr>
										<th>ID</th>
										<th>Role</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="role : ${roleList}">
										<td th:text="${role.id}"></td>
										<td th:text="${role.role}"></td>
									</tr>
								</tbody>
							</table>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</body>



</html>
