<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head th:replace="fragments/header :: header">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

</head>


<body id="page-top">

	<!-- Page Wrapper -->
	<div id="wrapper">

		<!-- Partie sidebar retirée et mise dans sidebar.html -->

		<div th:replace="fragments/sidebar :: sidebar"></div>

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- top-navbar retirée et mise dans top-navbar.html -->
			<div th:replace="fragments/top-navbar :: top-navbar"></div>


			<!-- Begin Page Content -->
			<div class="container-fluid">
				<!-- Page Heading -->
				<div
					class="d-sm-flex align-items-center justify-content-between mb-4">
					<h1 class="h3 mb-0 text-gray-800">Mon espace organisateur</h1>
					<button type="button" class="btn btn-primary" id="magic">Démo</button>

				</div>

				<form method="POST" th:action="@{/organisateur/saveEvent}" th:object="${event}"  enctype="multipart/form-data">

					<!-- Content Row -->
					<div class="card shadow mb-4">
						<div class="card-header py-3">
							<h6 class="m-0 font-weight-bold text-primary">Créer un nouvel évènement</h6>
						</div>
						<div class="card-body">
							<div class="form-row">
								<div class="form-group col-md-8">
									<div class="row">
										<div class="form-group col-md-12 mt-2">
											<label for="eventTitle">Titre de l'évènement</label> 
											<input th:field="*{name}"
												id="eventTitle" type="text" class="form-control"
												placeholder="Exemple : colloque sur l'énergie fossile">
										</div>
									</div>
									<div class="row">
										<div class="col">
											<label for="eventType">Type d'évènement</label> 
											<select th:field="*{eventType}" id="eventType" class="form-control">
<!-- 												<option th:each="i:${listEventType}" th:value="${i}" th:text="${i.eventType}"></option> -->
													<option selected th:value="Anniversaire">Anniversaire</option>
													<option th:value="Mariage" >Mariage</option>		
														<option th:value="TeamBuilding">Team building</option>
													<option th:value="Seminaire" >Séminaire</option>	
													<option th:value="Autre" >Autre</option>											
													
											</select>
										</div>
										<div class="col">
											<label for="paxNb">Nombre de personnes</label> 
											<input th:field="*{nbOfParticipant}"
												id="paxNb" type="number" class="form-control"
												placeholder="Exemple : 25">
										</div>
									</div>

									<div class="row mt-2">
										<div class="col">
											<label for="startingDate">Date début</label>
											<div class="input-group">
												<input th:field="*{duration.startDate}" id="startingDate" type="text" class="form-control"
													placeholder="Date de début">
												<div class="input-group-append">
													<span class="input-group-text"><i
														class="bi bi-calendar-date"></i></span>
												</div>
											</div>
										</div>
										<div class="col">
											<label for="endingDate">Date fin</label>
											<div class="input-group">
												<input th:field="*{duration.endDate}" id="endingDate" type="text" class="form-control"
													placeholder="Date de fin">
												<div class="input-group-append">
													<span class="input-group-text"><i
														class="bi bi-calendar-date"></i></span>
												</div>
											</div>
										</div>
										<div class="col">
											<label>Toute la journée ?</label> <input type="checkbox"
												data-on="Oui" data-off="Non" data-width="100" checked
												data-toggle="toggle" data-onstyle="success">
										</div>
									</div>
								</div>

								<div class="form-group col-md-4">
<!-- 									<img th:src="@{'/uploads/'+${event.picture}}" width="196" height="196" -->
<!-- 										class="rounded mx-auto d-block" alt="..."> -->
							<img src="../../img/insertpic.png"
										class="rounded mx-auto d-block mt-2" alt="...">
										
									<div class="custom-file col-md-6 mt-2" style="max-width: 100%">
										<input type="file" class="custom-file-input" id="customFile" name="files" multiple>
										<label class="custom-file-label" for="files">Choisir
											une photo</label>
									</div>
									
								</div>
							</div>
							<div class="row mt-2">
								<div class="form-group col-md-12">
									<div class="row">
										<div class="col">
											<label for="ville">Ville</label> 
											<input th:field="*{place.city}" type="text"
												class="form-control" id="city" placeholder="Exemple : Tours">
										</div>
										<div class="col">
											<label>Prix d'entrée par personne</label>
											<div class="input-group">
												<input th:field="*{price}" type="number" class="form-control" id="inputPrice"
													placeholder="Exemple : 55">
												<div class="input-group-append">
													<span class="input-group-text">€</span>
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="form-group col-md-12 mt-2">
											<label for="description">Description</label>
											<textarea th:field="*{descriptionEvent}" id="description" type="text" row="4"
												placeholder="Décrivez votre évènement" class="form-control"></textarea>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>
					<div class="card shadow mb-4">
						<div class="card-header py-3">
							<h6 class="m-0 font-weight-bold text-primary">Prestation(s) disponible(s)</h6>
						</div>
						
						<div class="card-body">
							<div class="form-row">
								<div class="form-group col-md-12 justify-content-center">
<!-- 									<div class="row"> -->
<!-- 										<div class="col"> -->
<!-- 											<input id="prestName" type="text" class="form-control ml-4" -->
<!-- 												placeholder="Nom prestataire"> -->
<!-- 										</div> -->
<!-- 										<div class="col"> -->
<!-- 											<select id="prestataireType" class="form-control ml-4"> -->
<!-- 												<option>Type de prestation</option> -->
<!-- 												<option>Location de salle</option> -->
<!-- 												<option>Location de matériel</option> -->
<!-- 												<option>Animation</option> -->
<!-- 												<option>Traiteur</option> -->
<!-- 												<option>Autre</option> -->
<!-- 											</select> -->
<!-- 										</div> -->
<!-- 										<div class="col"> -->
<!-- 											<input id="distance" type="number" class="form-control ml-4 mr-4" -->
<!-- 												placeholder="30 km ?"> -->
<!-- 										</div> -->
<!-- 										<div class="col"> -->
<!-- 											<div class="d-flex ml-4"> -->
<!-- 												<button type="button" class="btn btn-primary float-right"> -->
<!-- 													<i class="bi bi-search"></i> Rechercher -->
<!-- 												</button> -->
<!-- 											</div> -->
<!-- 										</div> -->

<!-- 									</div> -->
									<div class="card-body">
							<div class="table-responsive">
<!-- 										<label>Tableau des prestations disponibles</label> -->
										<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
											<thead>
												<tr>
													<th>Nom</th>
													<th>Type de prestation</th>
													<th>Capacité</th>
													<th>Zone d'intervention</th>
													<th>Ajouter à l'évènement</th>
												</tr>
											</thead>
											<tfoot>
												<tr>
													<th>Nom</th>
													<th>Type de prestation</th>
													<th>Capacité</th>
													<th>Zone d'intervention</th>
													<th>Ajouter à l'évènement</th>
												</tr>
											</tfoot>
											
											<tbody>
												<tr th:each="prestation:${listPrestations}">
													<td th:text="${prestation.name}">NAME</td>
													<td th:text="${prestation.prestaType.prestaType}">TYPE</td>
													<td class="text-center" th:text="${prestation.capacity}">NOMBRE</td>
													<td th:text="${prestation.place.city}">VILLE</td>
													<td >
													<input type="checkbox" name="mycheckbox" th:value="${prestation.id}" />

													</td>
												</tr>
											</tbody>
										</table>
								
									
									</div>
									</div>
									
								</div>
							</div>
						</div>

					</div>
					<div class="card shadow mb-4">
						<div class="card-header py-3">
							<h6 class="m-0 font-weight-bold text-primary">Programme de
								l'évènement</h6>
						</div>
						<div class="card-body">

							<div class="form-row">
								<div class="form-group col-md-12 ">
									<div class="custom-file col-md-6 mt-2" style="max-width: 100%">
										<input type="file" class="custom-file-input" id="customFile">
										<label class="custom-file-label" for="customFile">Choisir
											un programme (.pdf)</label>
									</div>
									<img src="../../img/insertpic.png"
										class="rounded mx-auto d-block mt-2" alt="...">

								</div>
							</div>
						</div>
					</div>

					<button type="submit" class="btn btn-primary ">Valider</button>
				</form>
	<br/><br/>	<br/><br/>
	
			</div>
			<!-- /.container-fluid -->


			<!-- End of Main Content -->

			<!-- Footer retiré et mis dans footer.html -->
			<div th:replace="fragments/footer :: footer"></div>


			<!-- End of Content Wrapper -->

		</div>
		<!-- End of Page Wrapper -->
	</div>

	<script>
        $(document).ready(function() {
        	$('#magic').click(function() {
        	    $("#eventTitle").val("Séminaire énergie verte");
        	    $("#eventType").val("Séminaire");
        	    $("#paxNb").val(150);
        	    $("#startingDate").val("10/13/2022");
        	    $("#endingDate").val("10/14/2022");
        	    $("#customFile").val("");
        	    $("#city").val("Paris");
        	    $("#inputPrice").val(15);
        	    $("#description").val("Vous vous souciez de la planète, mais qu'en est-il au quotidien ? ")
        	} );
        });
    </script>

</body>

</html>
