<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

<link rel="stylesheet" type="text/css" href="../../css/style.css">

<link
	href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap"
	rel="stylesheet">

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<link href="../../vendor/fontawesome-free/css/all.min.css"
	rel="stylesheet" type="text/css">
<link
	href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
	rel="stylesheet">
<link href="../../css/sb-admin-2.min.css" rel="stylesheet">
<link href="../../vendor/datatables/dataTables.bootstrap4.min.css"
	rel="stylesheet">

</head>


<body id="page-top">

	<!-- Page Wrapper -->
	<div id="wrapper">

		<!-- Partie sidebar retirée et mise dans sidebar.html -->

		<div th:replace="fragments/sidebar :: sidebar"></div>

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">

				<!-- top-navbar retirée et mise dans top-navbar.html -->
				<div th:replace="fragments/top-navbar :: top-navbar"></div>



				<!-- Begin Page Content -->

				<div class="container-fluid">

					<!-- Page Heading -->
					<h1 class="h3 mb-2 text-gray-800">Mon espace organisateur</h1>



					<!-- mes evenemts -->


					<div class="card shadow mb-4">

						<div
							class="card-header py-3 d-sm-flex align-items-center justify-content-between mb-4">
							<h6 class="m-0 font-weight-bold text-primary">Tableau des
								évènements</h6>
						
								<i type="button"> <a href="addEvent"
									class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
										<i class="fas fa-plus-circle text-white-50"></i> Ajouter</a>
								</i>						
						</div>

						<div class="card-body">
							<div class="table-responsive">
							
								<table class="table table-bordered" id="" width="100%"
									cellspacing="0">
									<thead>
										<tr>
											<th>Nom</th>
											<th>Type</th>
											<th>Date</th>
											<th>Participants attendus</th>
											<th>Participants inscrits</th>
											<!-- 											<th>Compteur</th> -->
										</tr>
									</thead>
									<tfoot>
										<tr>
											<th>Nom</th>
											<th>Type</th>
											<th>Date</th>
											<th>Participants attendus</th>
											<th>Participants inscrits</th>
											<!-- 											<th>Compteur</th> -->
										</tr>
									</tfoot>
									<tbody>
										<tr th:each="event:${eventList}">
											<td th:text="${event.name}">NAME</td>
											<td th:text="${event.eventType}">TYPE</td>
											<td
												th:text="${#dates.format(event.duration.startDate,'dd MMM YYYY')}">DEBUT</td>
											<td class="text-center" th:text="${event.nbOfParticipant}">NOMBRE
												ATTENDU</td>
											<td class="text-center" th:text="${event.nbInscrit}">NOMBRE
												INSCRIT</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<!-- fin mes evenemts -->


					<section class="ftco-section">
						<div class="container">
							<div class="row justify-content-center">
								<div class="col-md-6 text-center mb-5">
									<h2 class="heading-section text-center"></h2>
								</div>
							</div>


							<div class="row">
								<div class="col-md-6">
									<div class="to-do-list">
										<h2>To do list</h2>
										<button class="btn btn-primary mb-2">
											<i class="fas fa-plus"></i>
										</button>
										<div class="card text-white bg-primary mb-3"
											style="max-width: 18rem;">
											<div class="card-body">
												<h5 class="card-title"></h5>
												<p class="card-text">
												<div class="events-container"></div>
												</p>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="content w-100">
										<div class="calendar-container">
											<div class="calendar">
												<div class="year-header">
													<span class="left-button fa fa-chevron-left" id="prev">
													</span> <span class="year" id="label"></span> <span
														class="right-button fa fa-chevron-right" id="next">
													</span>
												</div>
												<table class="months-table w-100">
													<tbody>
														<tr class="months-row">
															<td class="month">Jan</td>
															<td class="month">Fev</td>
															<td class="month">Mar</td>
															<td class="month">Avr</td>
															<td class="month">Mai</td>
															<td class="month">Jui</td>
															<td class="month">Juil</td>
															<td class="month">Aou</td>
															<td class="month">Sep</td>
															<td class="month">Oct</td>
															<td class="month">Nov</td>
															<td class="month">Dec</td>
														</tr>
													</tbody>
												</table>
												<table class="days-table w-100">
													<td class="day">Dim</td>
													<td class="day">Lun</td>
													<td class="day">Mar</td>
													<td class="day">Mer</td>
													<td class="day">Jeu</td>
													<td class="day">Ven</td>
													<td class="day">Sam</td>
												</table>
												<div class="frame">
													<table class="dates-table w-100">
														<tbody class="tbody">
														</tbody>
													</table>
												</div>
												
												<button class="button" id="add-button">Ajouter</button>
											</div>
										</div>
										
										<div class="dialog" id="dialog">
											<h2 class="dialog-header">Ajouter une tache</h2>
											<form class="form" id="form">
												<div class="form-container" align="center">
													<label class="form-label" id="valueFromMyButton" for="name">Nom
														de la tache</label> <input class="input" type="text" id="name"
														maxlength="36"> <label class="form-label"
														id="valueFromMyButton" for="count">Nombre de
														personnes concernées</label> <input class="input" type="number"
														id="count" min="0" max="1000000" maxlength="7"> <input
														type="button" value="Annuler" class="button"
														id="cancel-button"> <input type="button"
														value="OK" class="button button-white" id="ok-button">
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>

						</div>

					</section>

					<script src="../../js/popper.js"></script>
					<script src="../../js/bootstrap.min.js"></script>
					<script src="../../js/main.js"></script>

				</div>
				<!-- End Page Content -->
			</div>
			<!-- End Main Content -->
		</div>
		<!-- End Content Wrapper -->

	</div>
	<!-- End of Page Wrapper -->


	<!-- Footer retiré et mis dans footer.html -->
	<div th:replace="fragments/footer :: footer"></div>



	<script>
        $(document).ready(function() {
        $('.table').DataTable();
        } );
    </script>

</body>

</html>
